
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IntelliGuard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MADD-Intelliguard" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/stylenew.css">
    

    <script type="text/javascript">
        document.getElementById("#login").onclick = function () {
            location.href = "/Madduser/login";
        };
    </script>
</head>
<body>


    <div id="page-wrap">


        <!-- ==========================================================================================================
                                                           HERO
             ========================================================================================================== -->

      
        @RenderBody()

        <footer class="footer-outer">
            <div class="container footer-inner">

                <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                    <div class="column-1-3">
                        <h1>IntelliGuard</h1>
                    </div>
                    <div class="column-2-3">
                        <nav class="footer-nav">
                            <ul>
                                <a href="#" onclick="$('#fh5co-hero-wrapper').goTo();return false;"><li>Home</li></a>
                                <a href="#" onclick="$('#fh5co-features').goTo();return false;"><li>Features</li></a>
                                <a href="#" onclick="$('#fh5co-aboutus').goTo();return false;"><li>About Us</li></a>
                                <a href="#" onclick="$('#fh5co-download').goTo();return false;"><li class="active">Download</li></a>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-3-3">
                        <div class="social-icons-footer">
                            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>

                <span class="border-bottom-footer"></span>

                <p class="copyright">&copy; MADD-IntelliGuard</a>.</p>

            </div>
        </footer>




    </div> <!-- main page wrapper -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>