<link href="~/css/usernavbar.css" type="text/css" rel="stylesheet" />

<nav>
	<ul>
		<li>
			<a href="/Admin/members"><b>Members</b></a>
		</li>
		<li>
			<a href="/Admin/CreateUser"><b>Create User</b></a>
		</li>
		<li>
		<a href="/Time/Index"><b>Overview of user</b></a>
		</li>
		<li>
			<a href="/Account/LogOff"><b>Log Out</b></a>
		</li>

	</ul>
</nav>