<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="menu-wrap">
		<input type="checkbox" class="toggler">
		<div class="hamburger"><div></div></div>
		<div class="menu">
			<div>
				<div>
					<ul>
						<li><a href="/madd/homePage">Home</a></li>
						<li><a href="/madd/AboutUs">About</a></li>
						<li><a href="/Account/Login">Login</a></li>
						<li><a href="/madd/Register">Registration</a></li>
						<li><a href="/madd/products">Our Products</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
