

<link href="~/css/usernavbar.css" type="text/css" rel="stylesheet" />

<div>

    <nav>
		<ul>
			<li>
				<a href="/Time/userTime">Monitor Door Activity</a>
			</li>

			<li>
				<a href="/Account/logoff">Logout</a>
			</li>
		</ul>
    </nav>
</div>
