@model Entry


<h4><label style="color:royalblue;">Full name</label></h4>
<input type="text" placeholder="@ViewData["name"]">


<h4>
    <label style="color:royalblue;">Temperature</label>
</h4>
<input type="text" placeholder="@Model.Temperature °C" style="color:forestgreen">





<h4>
    <label style="color:royalblue;">
        Time
    </label>
</h4>
<input type="text" placeholder="@Model.EntryTime">





