
@{
    Layout = "_NewTemplate";

}
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<!-- first section wrapper -->
<!-- ==========================================================================================================
                                                 ADVANTAGES
     ========================================================================================================== -->
<div id="fh5co-hero-wrapper">
    <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
        <a class="navbar-brand" href="">IntelliGuard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-items-center ml-auto mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="$('#fh5co-aboutus').goTo();return false;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="$('#fh5co-features').goTo();return false;">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="$('#fh5co-download').goTo();return false;">Download</a>
                </li>
            </ul>
            <div class="social-icons-header">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </nav>
    <div class="container fh5co-hero-inner">
        <h1 class="animated fadeIn wow" data-wow-delay="0.4s">A system that auto detect and update temperature</h1>
        <p class="animated fadeIn wow" data-wow-delay="0.67s">Secure, Fast  & Efficient </p>
        <button id="login" class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" onclick="location.href='/Account/login';">Login</button>
        <button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s" onclick="location.href='/Madduser/signup';">Sign Up</button>

    </div>


</div>
<div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"></div>
<div id="fh5co-aboutus" class="fh5co-aboutus-outer">
    <div class="container">

        <div class="row fh5co-aboutus-grid-columns">



            <div class="offset-sm-3 col-sm-8 row sm-6-content wow animated fadeInRight
                 " data-wow-delay="0.22s">
                <h1>About Us</h1>
                <p>
                    IntelliGuard is a final year project by a team of 5 Republic polytechnic students with a vision.

                    IntelliGuard started of as a humble facial recognition door project. However, due to the recent covid 19 events that has brought a world to a pause.

                    The idea was shifted to developing a <span style="color:cornflowerblue"> non - contact temperature</span> taking as well as contact tracing solution that would the manual streamline temperature as well as making it safer for front line staff

                    IntelliGuard removes one of the everyday pain points created by COVID-19. Our product painlessly records the temperature of all persons entering a facility. It is contactless, automatic and speedy. In a time when the frequency of dangerous viruses is increasing, temperature taking as a right of passage into a public space may well become the new normal.
                </p>

            </div>









        </div> <!-- row -->


    </div>
</div>

<div class="fh5co-advantages-outer" style="margin-top:10%;">
    <div id="fh5co-features" class="fh5co-features-outer">
        <div class="container">
            <h1 class="second-title"><span class="span-perfect">Perfect</span> <span class="span-features">Features</span></h1>
            <small>Only necessary</small>


            <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">

                <div class="col-sm-4">
                    <img class="grid-image" src="~/img/thermometer-icon-or-temperature-symbol-and-vector-23880529.jpg" alt="Icon-1">
                    <h1 class="grid-title">Detect Temperature</h1>
                    <p class="grid-desc">Accurate and no human interations</p>
                </div>

                <div class="col-sm-4">
                    <img class="grid-image" src="~/img/records (2).png" alt="Icon-2">
                    <h1 class="grid-title">Update Records</h1>
                    <p class="grid-desc">Auto update with corresponding ID</p>
                </div>

                <div class="col-sm-4">
                    <img class="grid-image" src="~/img/people.png" alt="Icon-3">
                    <h1 class="grid-title">Contact Tracing</h1>
                    <p class="grid-desc">Help in contact tracing</p>
                </div>


            </div>
        </div>
    </div>

</div>
<!-- ==========================================================================================================
                                              SLIDER
 ========================================================================================================== -->

<div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s"style="margin-top:10%;">
    <h1>Mobile APP</h1>

    <div class="container fh5co-slider-inner">

        <div class="owl-carousel owl-theme">

            <div class="item"><img src="~/img/sample.jpg" alt=""></div>

            <div class="item"><img src="~/img/sample.jpg" alt=""></div>

            <div class="item"><img src="~/img/sample.jpg" alt=""></div>

            <div class="item"><img src="~/img/sample.jpg" alt=""></div>


        </div>

    </div>
</div>


<!-- ==========================================================================================================
                                             aboutus
 ========================================================================================================== -->
<!-- ==========================================================================================================
                                              REVIEWS
 ========================================================================================================== -->
<!-- ==========================================================================================================
                                             BOTTOM
========================================================================================================== -->

<div id="fh5co-download" class="fh5co-bottom-outer">
    <div class="overlay">
        <div class="container fh5co-bottom-inner">
            <div class="row">
                <div class="col-sm-6">
                    <h1>How to download the app?</h1>
                    <p>Go to App store and search for IntelliGuard</p>
                    <a class="wow fadeIn animated" data-wow-delay="0.25s" href="#"><img class="app-store-btn" src="~/img/app-store-icon.png" alt="App Store Icon"></a>
                    <a class="wow fadeIn animated" data-wow-delay="0.67s" href="#"><img class="google-play-btn" src="~/img/google-play-icon.png" alt="Google Play Icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:5px;">
    <df-messenger intent="WELCOME"
                  chat-title="IntelliGuard"
                  agent-id="1cb01cb8-d572-40aa-aec5-54d74621df81"
                  language-code="en"
                  wait-open=true
                  chat-icon=" https://image.flaticon.com/icons/svg/2040/2040946.svg"></df-messenger>
</div>


<!-- ==========================================================================================================
                                           SECTION 7 - SUB FOOTER
========================================================================================================== -->
